body {
    max-width: 1920px;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}
img {
    max-width: 100%;
    height: auto;
}
.c-img {
  position: relative;
  display: block;
  overflow: hidden;
}
.pt-66 {
  padding-top: 66%;
}
.c-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.w-25 {
    width: 25%;
}